@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;800&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.02rem;
  font-family: "Red Hat Display", sans-serif;
}
html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(312, 56%, 98%);
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.time{
        font-size: 1.02rem;
}
main,
header,
.verticalSection,
#notification {
  display: flex;
  align-items: center;
  width: 100%;
}
.verticalSection {
  margin: 0.2rem;
  border-radius: 1rem;
 
}
#top3a,
#top3b,
#top3c,
#bottoma,
#bottomb,
#bottomc,
#bottomd {
  height: 5rem;
}
#rick {
  margin-top: -3.5rem;
  padding-top: 2rem;
  height: 100%;
}

#top3a,
#top3b,
#top3c {
  background: hsl(210, 60%, 98%);
   margin-bottom: 1rem;
}
header {
  justify-content: space-between;
}
main {
  flex-direction: column;
  width: 68%;
  max-height: 92vh;
  background: white;
  padding: 1.5rem;
  border-radius: 1rem;
overflow-y: scroll;
  box-shadow: 0px 31px 9px 23px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 31px 9px 23px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 31px 9px 23px rgba(0, 0, 0, 0.05);
  scroll-margin-block: t;
}
.commentP {
  margin: 0 0.5rem;
}
span {
  color: hsl(219, 85%, 26%);
}

.fa-circle {
  display: inline-block;
  margin-left: 0.3rem;
  color: hsl(1, 90%, 64%);
  font-size: 0.65rem;
}
#notification h3 {
  font-size: 1.5rem;
}
#notificationNumber,
#notificationNumber h3 {
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(219, 100%, 24%);
  padding: 0.05rem 0.2rem;
  margin: 0 0.4rem;
  color: white;
  border-radius: 0.4rem;
}
figure {
  height: 100%;
  padding: 1rem;
}
img {
  width: 4rem;
}
#markAll {
  display: flex;
  align-items: center;
  justify-content: right;

  width: 50%;
  height: 2rem;
}
#markAll:hover,
h3:hover {
  cursor: pointer;
  color: hsl(219, 85%, 26%);
}
#openedMessage {
  padding: 1.2rem;
  border: 1px solid hsl(205, 33%, 90%);
  border-radius: 0.5rem;
  margin: 0.5rem;
}
#chess:hover {
  border: 0.01rem solid rgb(92, 180, 235);
  border-radius: 0.5rem;
}
#openedMessage:hover {
  background: hsl(205, 33%, 90%);
}
.time,
.commentP,
#openedMessage {
  color: hsl(216, 3%, 29%);
}
#bottomb {
  justify-content: space-between;
}
@media only screen and (max-width: 500px) {
  * {
    font-size: 0.9rem;
  }

  html,
  body {
    font-size: 0.75rem;
    justify-content: start;
    flex-direction: column;
  }
  main {
    width: 100%;
    margin-top: 0rem;
    min-height: none;
    height: 100%;
    overflow-y: scroll;
  }
}
